body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: capitalize;
  background-color: rgb(211, 212, 155, 0.7);
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  align-content: center;
}

button {
  margin: 4px;
  padding: 3px;
  border: none;
  border-radius: 8px;
}

.buttons div {
  display: grid;
  grid-template-columns: repeat(5, 60px);
  gap: 10px;
  margin: 0 auto;
  background-color: hsl(180, 56%, 57%, 70%);
  width: 50%;
  text-align: center;
}
.btn {
  padding: 5px;
  height: 30px;
}
.btn:hover {
  background-color: hsl(34, 57%, 90%);
}
.calculator {
  width: 40vw;
  margin: 0 auto;
}
#display {
  height: 20px;
  border-radius: 10px;
  border: none;
  width: 45%;
  margin: 0 auto;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 16px;
  text-align: right;
  padding: 10px;
}
